<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/products.css" type="text/css" />
        <link rel="stylesheet" href="/css/product-tablet.css" type="text/css" />

        <%- include("./partials/head") %>
    </head>
    <script src="/js/detailProd.js"></script>

    <body class="bg-lightgrey">
        <%- include("./partials/header") %>

        <main class="container">
            <hr />
            <p class="text-muted strong font-monospace">
                <a href="/" class="text-decoration-none text-reset">Home </a> >
                <a href="/collections" class="text-decoration-none text-reset"
                    >Shop
                </a>
                >
                <a
                    href="/search?search=<%= product.brand  %> "
                    class="text-decoration-none text-reset"
                    ><%= product.brand %>
                </a>
            </p>
            <section class="bg-white border-section">
                <div
                    class="row py-3 prod-detail-desktop justify-content-center"
                >
                    <div class="pl-5 col-1 my-5 grid-images">
                        <div class="brand">
                            <img
                                src="<%= product.imageProducts.image1 %> "
                                class="d-block w-100 img-small1"
                                alt="..."
                            />
                        </div>
                        <div class="brand">
                            <img
                                src="<%= product.imageProducts.image2 %> "
                                class="d-block w-100 img-small2"
                                alt="..."
                            />
                        </div>
                        <div class="brand">
                            <img
                                src="<%= product.imageProducts.image3 %> "
                                class="d-block w-100 img-small3"
                                alt="..."
                            />
                        </div>
                    </div>
                    <div class="col-6 grid-images">
                        <img
                            src="<%= product.imageProducts.image1 %> "
                            class="img-selected w-100 img1"
                            alt="..."
                        />
                        <img
                            src="<%= product.imageProducts.image2 %> "
                            class="d-none w-100 img2"
                            alt="..."
                        />
                        <img
                            src="<%= product.imageProducts.image3 %> "
                            class="d-none w-100 img3"
                            alt="..."
                        />
                    </div>
                    <div class="col-4 bg-whitesmoke border">
                        <div class="border-0 card h-100 bg-whitesmoke py-2">
                            <div class="card-top">
                                <h6 class="text-muted text-shadow">
                                    <%=product.brand %> - <%= product.type %>
                                </h6>
                                <h2 class="text-shadow"><%= product.name %></h2>
                                <p class="text-muted text-shadow">
                                    <small>Item <%= product.id %> </small>
                                </p>
                                <div
                                    class="d-flex justify-content-left small mb-2 text-shadow"
                                >
                                    <i
                                        class="fa fa-star"
                                        aria-hidden="true"
                                    ></i>
                                    <i
                                        class="fa fa-star"
                                        aria-hidden="true"
                                    ></i>
                                    <i
                                        class="fa fa-star"
                                        aria-hidden="true"
                                    ></i>
                                    <i
                                        class="fa fa-star"
                                        aria-hidden="true"
                                    ></i>
                                    <i
                                        class="fa fa-star"
                                        aria-hidden="true"
                                    ></i>
                                    <span
                                        class="px-2 ultra-small text-decoration-underline"
                                        >3 REVIEWS
                                    </span>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <h5 class="text-shadow pt-2 strong text-danger">
                                    $<%= product.price %>
                                </h5>
                                <p class="text-muted text-shadow pt-2">
                                    Border Color:
                                </p>
                                <div>
                                    <% for(columnName in columnNamesBorder){ %>
                                    <%
                                    if(product.ProductBorderColor[columnNamesBorder[columnName]]
                                    == 1){ %>
                                    <span
                                        class="circles-bc"
                                        id="border-<%=columnNamesBorder[columnName]%>"
                                        style="
                                            --bg: <%=columnNamesBorder[columnName]%>;
                                        "
                                    ></span>
                                    <% }} %>
                                </div>
                                <p class="text-muted text-shadow pt-2">
                                    Glass Color:
                                </p>
                                <div>
                                    <% for(columnName in columnNamesGlass){ %>
                                    <%
                                    if(product.ProductGlassColor[columnNamesGlass[columnName]]
                                    == 1){ %>
                                    <span
                                        class="circles-gc"
                                        id="glass-<%=columnNamesGlass[columnName]%>"
                                        style="
                                            --bg: <%=columnNamesGlass[columnName]%>;
                                        "
                                    ></span>
                                    <% }} %>
                                </div>
                                <div class="d-flex pt-3 text-shadow">
                                    <p class="text-muted">Gender:</p>
                                    <p class="strong px-2">
                                        <%= product.gender === "M" ? "Masculino"
                                        : product.gender === "F" ? "Femenino" :
                                        "Unisex"%>
                                    </p>
                                </div>
                                <p class="text-shadow description">
                                    <%=product.description %>
                                </p>

                                <div class="text-shadow">
                                    <form
                                        action="/collections/<%= product.id %>"
                                        method="post"
                                        class="form-detail"
                                    >
                                        <input
                                            type="text"
                                            class="d-none"
                                            name="product_id"
                                            value="<%= product.id%>"
                                        />
                                        <input type="text" class="d-none"
                                        name="user_id" value= "<%= user ?
                                        user.id : "" %>" />
                                        <div class="glass-color">
                                            <input
                                                type="text"
                                                class="d-none"
                                                name="glass_color"
                                                value=""
                                            />
                                        </div>
                                        <div class="border-color">
                                            <input
                                                type="text"
                                                class="d-none"
                                                name="border_color"
                                                value=""
                                            />
                                        </div>

                                        <input
                                            type="number"
                                            class="my-3"
                                            name="amount"
                                            min="0"
                                            max="10"
                                            value="0"
                                        />
                                        <button
                                            type="submit"
                                            class="btn btn-primary w-100"
                                        >
                                            <span class="button-text"
                                                >ADD TO CART
                                            </span>
                                        </button>
                                    </form>
                                    
                                    <% if(user != undefined && user.admin == 1){
                                    %>
                                    <div class="pt-3">
                                        <a
                                            href="/collections/<%= product.id %>/edit "
                                            class="button-product-edit"
                                            >Editar
                                        </a>
                                        <form
                                            action="/collections/<%= product.id %>?_method=DELETE "
                                            method="POST"
                                            style="display: inline-flex"
                                        >
                                            <button
                                                type="submit"
                                                class="button-product-delete"
                                            >
                                                ELIMINAR
                                            </button>
                                        </form>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include("./partials/prod-detail-mobile") %>
                <hr />
                <%- include("./partials/carrousel-desktop") %> <%-
                include("./partials/carrousel-mobile") %>
            </section>
        </main>

        <%- include("./partials/footer") %>
    </body>
</html>
