<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head") %>
        <link rel="stylesheet" href="/css/products.css" type="text/css" />
    </head>

    <body>
        <%- include("./partials/header") %>
        <main class="container-content-login">
            <form
                action="/collections"
                method="post"
                class="create-form"
                enctype="multipart/form-data"
            >
                <div class="control-form">
                    <input
                        type="text"
                        name="product_name"
                        placeholder="Nombre Del Producto"
                        class="control"
                        value="<%= product.product_name %> "
                    />
                </div>
                <div class="control-form">
                    <label>Imágen del producto</label>
                    <input type="file" name="image" multiple class="control" />
                </div>
                <div class="control-form">
                    <label for="">Tipo de lentes:</label>
                    <div class="flex-justify">
                        <input type="radio" name="type"  value="Sunglasses" <%= product.type=="Sunglasses" ? check="checked" : "" %> />
                        <label for="type1">Sunglasses</label>
                    </div>
                    <div class="flex-justify">
                        <input type="radio" name="type" value="Eyeglasses" <%= product.type=="Eyeglasses" ? check="checked" : "" %> />
                        <label for="type1">Eyeglasses</label>
                    </div>
                </div>
                <div class="control-form">
                    <label for="">Genero:</label>
                    <div class="flex-justify">
                        <input type="radio" name="gender" value="M"  <%= (product.gender=="M") ? check="checked" : "" %>/>
                        <label for="type1">Masculino</label>
                    </div>
                    <div class="flex-justify">
                        <input type="radio" name="gender" value="F" <%= (product.gender=="F") ? check="checked" : "" %>/>
                        <label for="type1">Femenino</label>
                    </div>
                </div>
                <div class="control-form">
                    <input
                        type="text"
                        name="brand"
                        placeholder="Marca Del Producto"
                        class="control"
                        value="<%= product.brand %> "
                    />
                </div>
                <div class="control-form">
                    <label for="">Colores del marco:</label>
                    <div class="colorCheckboxes">
                        <% for(columnName in columnNames){ %>
                        <div class="inputColorBoxes">
                            <input
                                type="checkbox"
                                name="<%=columnNames[columnName] %>"
                                value="0"
                                <%= (product.ProductBorderColor[columnNames[columnName]] == 1) ? check="checked" : "" %> 
                            />
                            <label for="" class="plr"
                                ><%=columnNames[columnName] %>
                            </label>
                        </div>  
                        <% } %>
                    </div>
                </div>

                <div class="control-form">
                    <input
                        type="text"
                        name="price"
                        placeholder="Precio"
                        class="control"
                        value="<%= product.price %> "
                    />
                </div>
                <div class="control-form">
                    <input
                        type="text"
                        name="description"
                        placeholder="Descripción del producto"
                        value="<%= product.description %> "
                        class="control"
                    />
                </div>

                <button type="submit" class="button-form">Publicar</button>
            </form>
        </main>

        <%- include("./partials/footer") %>
    </body>
</html>
