<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>

</head>

<body>
    <%- include("./partials/header") %>
        <section>
            <main class="cart-content">
                <div class="cart-header">
                    <h1>Tu carrito</h1>
                    <a href="/">Seguir comprando ></a>
                </div>

                <div class="cartitems">
                    <% if (user.compras != null){ %> 
                        <% for (i = 0; i < user.compras.lenght(); i++){ %>
                            <div class="wrapper">
                                <article class="product">
    
                                    <a href="<%=`/collections/${product.id}` %>">
                                        <img src="/images/productsImage/<%= product.img %> " class="w-100" alt=""
                                            margin-bot />
                                    </a>
                                    <div class="product-content">
    
                                        <h3 class="description font-large">
                                            <%= product.name %>
                                        </h3>
                                        <p class="price font-medium">
                                            <%= product.price %>
                                        </p>
                                        <p class="discount text-green font-medium">
                                            <%= product.desc %>
                                        </p>
                                    </div>
                                </article>
                            </div>
                        <% } %> 
                    <% }else{ %> 
                    <p>Tu carrito está vacío</p>
                    <a href="/">
                        <i class="fas fa-shopping-cart icon-shop"></i>Seguir comprando
                    </a>
                </div>

            </main>
            <%- include("./partials/footer") %>

</body>

</html>